@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    font-size: 16px;
    height: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    flex: 1;
}

.header-logo {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li {
    margin-left: 24px;
    font-size: 18px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

nav {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 420px;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    height: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-container-left {
    height: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.nav-container-right {
    background-color: gray;
    color: #F9FAF8;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav-container-left h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.nav-container-left p {
    font-size: 18px;
}

.top-button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 6px 32px;
    font-size: 18px;
    font-weight: bold;
}

.box-section {
    background-color: #F9FAF8;
    color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    height: 100%;
    max-width: 1000px;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 64px;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: 56px;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px #3882F6 solid;
    border-radius: 8px;
    flex: 1 1 auto;
}

.box-description {
    color: #808080;
    height: 64px;
    width: 150px;
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
}

article {
    color: #1F2937;
    background-color: #E5E7EB;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.article-container p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.article-container .signature {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

.last-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-section-container {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 72px;
    max-width: 800px;
    flex: 1;
}

.bottom-button {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 6px 32px;
    font-size: 18px;
    font-weight: bold;   
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}