* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    font-size: 16px;
}

header {
    background-color: navy;
    color: #fff;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    flex: 1;

    border: 1px solid red;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li {
    margin-left: 24px;
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}